# Node modules
/frontend/node_modules/

# Package manager files
/frontend/package-lock.json
/frontend/yarn.lock

# Production build
/frontend/build/

# Coverage reports from tests
/frontend/coverage/

# Firebase/Env/Secrets
/frontend/.env
/frontend/.env.*

# Misc
/frontend/.DS_Store
/frontend/pnp.*
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*